@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body, html {
    padding: 0;
    margin: 0;
}

a{
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}


#header {
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
}

#logo-and-title{
    padding: 1rem;
}

#header-nav{
    display: flex;
    align-items: center;
    padding-inline: 2rem;
}

#logo{
    width: 7rem;
    width: 5rem;
}

h1{
    margin: 0;
}

#header-nav a.active { 
    color: black ; 
}

#main-page-main{
    padding: 1rem;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.successLight {color: #b9f6ca }
.success200 {color: #69f0ae}
.successMain {color: #00e676}
.successDark {color: #00c853}